<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Connection for Oracle -->
    <property name="connection.url">jdbc:oracle:thin:@slinky.adea.com.mx:1521:slinky</property>
    <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
    <property name="connection.username">visantillan</property>
    <property name="connection.password">C1nthy4*1011</property>
    <property name="show_sql">true</property>

    <!-- DB schema will be updated if needed -->
    <!--<property name="hbm2ddl.auto">update</property> -->

    <mapping class="mx.com.adea.projects.pojos.MgmtAplicacionDatosEntity"/>
    <mapping class="mx.com.adea.projects.pojos.MgmtCatPantEntity"/>
    <mapping class="mx.com.adea.projects.pojos.MgmtCatRevErrEntity"/>
    <mapping class="mx.com.adea.projects.pojos.MgmtCatalogoErroresEntity"/>
    <mapping class="mx.com.adea.projects.pojos.MgmtDocumentosEntity"/>
    <mapping class="mx.com.adea.projects.pojos.MgmtEntregaEntity"/>
    <mapping class="mx.com.adea.projects.pojos.MgmtMatrizPruebasEntity"/>
    <mapping class="mx.com.adea.projects.pojos.MgmtObservacionesEntity"/>
    <mapping class="mx.com.adea.projects.pojos.MgmtPantallasEntity"/>
    <mapping class="mx.com.adea.projects.pojos.MgmtPublicacionEntity"/>
    <mapping class="mx.com.adea.projects.pojos.MgmtRevisionEntity"/>
    <mapping class="mx.com.adea.projects.pojos.MgmtRevisionesEntity"/>
    <mapping class="mx.com.adea.projects.pojos.MgmtSolicitudEntity"/>

  </session-factory>
</hibernate-configuration>